.App {
display: flex;
gap: 100px;
}

.count {
  width : 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(217, 142, 142);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.wrapper{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

